* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #D3F4FB;
}




header {
    background-color: #27BD80;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-container img {
    margin-left: 20px;
    width: 118px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #ECF3FB;    
}

.flex-group {
    display: flex;
    align-items: center;
}

.criar-conta-header {
    color: #23424A;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.entrar-header {
    color: #fff;
    background-color: #23424A;
    margin-right: 20px;
    border: none;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    width: 4.5rem;
    height: 2rem;
    flex-shrink: 0;
    text-decoration: none;
    padding-right: 5px;
}

.cadastro {
    padding-left: 900px;
}